body {
  background-color: floralwhite;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 50px;
  text-align: center;
}
p {
  font-family: "Courier New", Courier, monospace;
  color: darkgoldenrod;
  font-size: 15px;
  text-align: center;
}
div.container {
  text-align: center;
}
ul.myul {
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  color: darkgoldenrod;
  font-size: 15px;
  text-align: left;
}
